
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  --light-bg: #F6F8FB;
  --main-blue: rgba(16, 113, 255, 1);
  ;
  --dark-color:#0C0C0C;
}
/* body{height: 200vh;} */
.main-color{
  color: var(--main-blue);
}
a{ text-decoration: none; color: black;}
.r-10{ border-radius: 10px;}
.test{ height: 250px;  padding: 2% 0.3%;}
.container{ width: 90%; margin:auto; }
.d-flex{ display: flex; flex-wrap: wrap;}
.main-padding{ padding-left: 5%; padding-right: 5%;}
.py-1{ padding-top: 1%; padding-bottom: 1%;}
.light-bg{  background-color: var(--light-bg); }
.no-border{ border:none;outline: none;}
.transperent{ background: transparent;}
.pr-1{ padding-right: 1%;}
.w-90{width: 88%;}
.w-50{ width: 50%;}
.w-30{width: 30%;}
.blue{ color:var(--main-blue);}
.dark{ color: var(--dark-color);}
.justify-end{ justify-content: end;}
.border-right{ border-right: 2px solid var(--dark-color);}
.pl-1{ padding-left: 1%;}
.p-10{ padding-left: 3.0%;}
.t-2{top: 2%;}
.r-top{border-radius: 10px 10px 0px 0px;}
.b-2{bottom: 2%;}
.relative{ position: relative;}
.absolute{ position: absolute;}
.tcenter{
  text-align: center;
}
.circle-absolue{
  position: absolute;
  top: -9px;
  right: -12px;
  font-size: 12px;
  background-color: red;
  color: white;
  border-radius: 50%;
  /* padding: 10%; */
  height: 18px;
  width: 18px;
  text-align: center;
  line-height: 18px;
}
.space-between{ justify-content: space-between;}
#search{
  width: 40%;
  border: 1px solid #eee;
  padding: 0.5%;
  border-radius: 5px;
}
#search i{
  width: 3%;
}
#search input{
  width: 95%;
}
.btn-primary{
  background-color: var(--main-blue);
  color: white;
  border-radius: 20px;
  padding: 2% 7%;
}
.w-25{ width: 25%;}
.text-end{ text-align: end;}
.align-self-center{ align-self: center;}
li{ list-style: none;}
.nav-item{ padding-right: 5%;}
.nav-item .active{ color:var(--main-blue);}
.section-margin{
  margin-top: 3%;
  margin-bottom: 3%;
}
.img-fluid{max-width: 100%; padding: auto 3%;}
.w-20{ width: 23%;}
.ads1{
  background-color: orangered;

  height: 230px;

}
.w-100{
  width: 100%;
}
.div-p{
  color: aliceblue;
  top: 50%;
  right: 25%;
  font-size: 20px;

}
.w-30{width: 30%;}
.sec-car{
  background: rgba(246, 248, 251, 1);
  height: 409px;

}
.img-div{
  position: absolute;
  top: -21%;
  right: -5%;
}
.product {

  background: white;
  text-align: left;
}
.product h4{
  font-style: italic;
  color: darkgray;
  font-weight: 100;
}
.product h2{
  font-weight: 700;
  padding-bottom: inherit;
}
.product p{
  font-weight: 400;
  color: darkgray;

}
.product-p-blue{
  color: #1071ff;
}

.perc-30{
  position: absolute;
  top: 10%;
  left: 0%;
  background: rgba(255, 126, 39, 1);
  /* background-color: orange; */
  width: 45PX;
  color: whitesmoke;
  padding: 2px 2px;
}
.icon-star{
  position: absolute;
  top: 8%;
  right: 12%;
  border-radius: 50%;
  background-color: #dbeafe;
  color: rgb(137, 129, 129);
  width: 30px;
  height: 30px;
  padding-left: 5.5px;
  padding-top: 5px;
  color: #1e40af;
}
.icon-compare{
  
  position: absolute;
  top: 34%;
  right: 12%;
  border-radius: 50%;
  background-color: #dbeafe;
  color: rgb(137, 129, 129);
  width: 30px;
  height: 30px;
  padding-left: 6.5px;
  padding-top: 5px;
  color: #1e40af;
}
.icon-share{
  position: absolute;
  top: 41%;
  right: 12%;
  border-radius: 50%;
  background-color: #dbeafe;
  color: rgb(137, 129, 129);
  width: 30px;
  height: 30px;
  padding-left: 6.5px;
  padding-top: 7px;
  color: #1e40af;

}
.imag-icon{
  background-color: transparent;
  position: absolute;
  display: flex;
  color: green;
  /* width: 150px; */
  /* height: 50px; */
  border-radius: 16px;
  padding: 8px 8px;
  top: 41%;
  font-size: 14px;
}
.net{
  color: orange;
  text-decoration: line-through;
}

.price {
  font-size: 28px;
  color: #007bff;
  font-weight: lighter;
  font-family: fantasy;

}
.cart-botton{
  background-color: #1071ff;
  color: white;
  border-radius: 20px;
  padding: 2% 7%;
  width: 100%;
  font-size: 16px;


}

.item-num{
  justify-content: space-between;
}
.item-num input{
    /* background-color: aqua; */
    width: 70px;
    border: 2px black;
    border-radius: 3px;
    height: 35px;
    /* padding-right: 20px; */
    margin-right: 10px;
    text-align: center;
}
.item-num select{
  border-radius: 5px;
  width: 170px;
  border: 13px black;
}
.Categories-button{

  height: 10.5%;
  top: 92%;
  background-color: var(--main-blue);
  color: white;
  border-radius: 5px;
  padding: 2% 7%;
  width: 100%;
  font-size: 20px;

}
#ads{
  background-color: var(--main-blue);
  height: 175px;
}
.macien{
  max-width: 150px;
  max-height: 150px;
}

.macien-span{
  width: 200px;
  font-size: 100px;
  font-weight: 800;
  color: white;
  position: absolute;
  top: 15%;
  left: 18%;

}

.macien-p{
  width: 25%;
  font-size: 61px;
  font-weight: 700;
  color: white;
  position: absolute;
  top: 23%;
  left: 34%;
} 
.macien-button{ 
  font-size: larger;
  color: #2563eb;
  width: 15%;
  height: 50px;
  border: 5px;
  border-radius: 50px;
  position: absolute;
  top: 30%;
  right: 6%;
  font-weight: 600;
}
.div-ads1{
  width: 48%;
  background-color: var(--main-blue);
  border-radius: 10px;
}
.div-botton{
  background-color: #fafafa;
  color: #2563eb;
  border-radius: 20px;
  padding: 2% 7%;
  /* width: 100%; */
}
.div-info{
  color: white;
  top: 30%;
  text-align: left;
  left: 20%;
}
.ptn-primary{    background-color: var(--main-blue);
  color: white;
  border-radius: 20px;
  padding: 2% 7%;
  /* top: 6%; */
  width: 87%;
  height: 30px;
  font-size: 20px;
  text-align: center;
}
.event-bot{
  background-color: transparent;
  color:var(--main-blue);
  border-radius: 20px;
  padding: 2% 7%;
  width: 50%;
  font-weight: 500;
  font-size: 16px;
  border-color: var(--main-blue);
}
.asas-foter{
  background-color: var(--light-bg);
   height: 450px;
}
.li-footer{
  margin-bottom: 15px;
}