* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  height: 3000px;
}
:root {
  --sec-color: #f6f8fb;
  --font: 20px;
  --thr-color: #37afe3;
}

.inline-block {
  display: inline-block;
}

.img-fluid{ max-width: 100%; height: auto; }
.d-flex{
  display: flex;
}
.container{ width: 90%; margin-left: auto; margin-right: auto;}

.w-100 {
  width: 100%;
}
.w-50 {
  width: 48%;
}
.w-25 {
  width: 24%;
}
.w-15 {
  width: 170px;
}
.w-50px {
  width: 50px;
}
.h-500 {
  height: 500px;
}
.left {
  left: 0%;
}
.right {
  right: 0%;
}
.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}
.pad-15px {
  padding: 15px;
}
.m-x25 {
  margin: 25px 0px 25px 0px;
}
.font-20 {
  font-size: var(--font);
}
.link-color {
  color: var(--thr-color);
}
.rtext {
  text-align: right;
}
.ltext {
  text-align: left;
}
.ctext {
  text-align: center;
}
.t-50 {
  top: 50px;
}
.start-end {
  text-align: end;
}
.padding-in {
  padding: 0px 30px 0px 30px;
}
.header-top {
  width: 100%;
  height: 50px;
  padding: 15px 30px 15px 30px;
  display: flex;
  background-color: var(--sec-color);
  font-size: 14px;
}
.icon {
  padding: 0px 20px;
  size: 15px;
  
}

.logo-text {
  font-size: xx-large;
  font-style: normal;
  flex-direction: row;
}
.search-par {
  width: 550px;
  border-radius: 10px;
  border: 10px;
  height: 50px;
  margin: 25px;
  border: 2px black solid;
}
.navbotton {
  background-color: #1071ff;
  width: 200px;
  height: 50px;
  padding: 16px 32px 16px 32px;
  border-radius: 10px;
 align-items: right;
 
}
.nav2 {
    display: flex;
      width: 100%;
      /* height: 100px; */
      padding: 16px 88px 16px 88px;
      justify-content: space-between;
      align-items: center;
}
.nav3{
 
  width: 100%;
  /* height: 100px; */
  padding: 16px 88px 16px 88px;
  justify-content: space-between;
  align-items: center;
}
.img-slid {
  width: 200px;
  border: 5px;
  border-radius: 5px;
}
.div-slid {
  width: 250px;
  height: 150;
}

.price {
  font-size: 28px;
  color: #007bff;
  font-weight: lighter;
  font-family: fantasy;

}

.product {
  height: 610px;
  padding: 10px;
  background: white;
  text-align: left;
}
.product h4{
  font-style: italic;
  color: darkgray;
  font-weight: 100;
}
.product h2{
  font-weight: 700;
  padding-bottom: inherit;
}
.product p{
  font-weight: 400;
  color: darkgray;

}
.afprice111{
  color: #1071ff;
}
.net{
  color: orange;
  text-decoration: line-through;
}
.box-products{
 
  display: flex;
  position: relative;
  justify-content: center;
}
.div-ads {
  background-color: #1071ff;
  height: 250px;
  width: 100%;
  border: 1px solid black;
}
.cat-botton {
  background-color: #1071ff;
  width: 198px;
  height: 60px;
  padding: 16px 32px 16px 32px;
  gap: 10px;
  border-radius: 30px;
  opacity: 0px;
  display: inline-block;
}
.imag-icon{

  background-color: gainsboro;
  position: absolute;
  display: flex;
  color: green;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  padding: 15px 30px;
  top: 85%;
  font-size: larger;
}
.perc-30{
  position: absolute;
  top: 10%;
  left:0%;
  background-color: orange;
  width: 58PX;
  color: whitesmoke;
  padding: 2px 10px;
}
.icon-star{

  position: absolute;
  top: 10%;
  right: 1%;
  border-radius: 50%;
  background-color: #dbeafe;
  color: rgb(137, 129, 129);
  width: 30px;
  height: 30px;
  padding-left: 5.5px;
  padding-top: 2px;
  color: #1e40af;
}
.icon-compare{
  position: absolute;
  top: 65%;
  right: 1%;
  border-radius: 50%;
  background-color: #dbeafe;
  color: rgb(137, 129, 129);
  width: 30px;
  height: 30px;
  padding-left: 5.5px;
  padding-top: 2px;
  color: #1e40af;
}
.icon-share{
  position: absolute;
  top: 85%;
  right: 1%;
  border-radius: 50%;
  background-color: #dbeafe;
  color: rgb(137, 129, 129);
  width: 30px;
  height: 30px;
  padding-left: 5.5px;
  padding-top: 2px;
  color: #1e40af;
}
.item-num{
  justify-content: space-between;
}
.item-num input{
    /* background-color: aqua; */
    width: 70px;
    border: 2px black;
    border-radius: 3px;
    height: 35px;
    /* padding-right: 20px; */
    margin-right: 10px;
    text-align: center;
}
.item-num select{
  border-radius: 5px;
  width: 170px;
  border: 13px black;
}
.cart-botton{
  background-color: #1071ff;
  width: 100%;
  height: 50px;
  padding: 16px 32px 16px 32px;
  gap: 10px;
  border-radius: 6px;
  opacity: 0px;
  display: inline-block;
  font-weight: 800;
  font-size: medium;
}